
      *{
         box-sizing: border-box;
        }
       header{
        border:2px solid rgb(0, 255, 55);
        /* flex-direction: row; */
        height:30%;
        width:100%;
        padding:5px;
       }
       .nav-1{
        display: flex;
        flex-direction: row;
        padding-right: 40px;
        justify-content: space-around;
        height:10%;
        width:100%;
        background-color: rgb(252, 94, 120);
        box-shadow: rgba(240, 20, 20, 0.3) 0px 19px 38px, rgba(230, 10, 10, 0.22) 0px 15px 12px;
       }

       .nav-1 > a {
        padding:20px;
        justify-content: space-around;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
       }
       .nav-1 > a:hover {
        color: rgb(128, 0, 13);
       }   
       .nav-1 > p{
        margin: 0px;
        margin-top: 35px;
       }
       .nav-2{
        display: flex;
        /* border:2px solid red; */
        /* height:10%; */
        justify-content: space-around;
        padding:6px;
        max-width: 1165px;
        width:100%;
        margin: auto;
       }
       .nav-2 > a{
        margin-top:40px;
        text-decoration: none;
       }
       .nav-2 > a:hover{
        color: rgb(240, 14, 93);
       }
       .nav-3{
       display: flex;
       justify-content: space-around;
        height:10%;
       }
       #search:hover{
        color:#FC2779;
       }
       .nav-3 > p{
        margin-top: 27px;
       }
       #top{
        display: flex;
        margin:auto;
        padding:10px;
       }
       #middle{
        display: flex;
        margin:auto;
        padding:30px;
        column-gap: 16px;
        justify-content: center;
       }
       #img3{
        margin: auto;
        width:80%;
       }
       #middle-2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       }
       #middle-2 > .img4 {
        border:2px solid red;
        border-radius: 20px;
         margin: 30px;
       }
       #middle-2 > .img4 > img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width:100%;
       }
       .check > div:hover{
       }
       .check > div:hover{
        color:rgb(236, 15, 52);
       }
       #dry-buy{
        display: flex;
        justify-content: center;
        column-gap: 16px;  
       }
       #dry-buy > .two-dry-buy > img{
        border-radius: 20px;
       }
       #golas{
        display:flex;
        column-gap: 40px;
        justify-content: center;
       }
       #golas > .goli-1 > img{
        border-radius: 35px;
        margin: auto;
        justify-content: center;
       }
       #box-5{
       display: flex;
       column-gap: 40px;
       justify-content: center;
       padding:25px;
       }
       #box-5 > .boxi{
        border:2px solid grey;
        border-radius: 5px;
       }
       #trend{
        display: flex;
        justify-content: center;
        column-gap: 40px;
       padding:25px;
       }
       #trend > .trd{
        border:2px solid grey;
        border-radius: 5px;
       }
       #pampers{
        display: flex;
        justify-content: center;
        column-gap: 40px;
       padding:25px;

       }
       #pampers > .pamp{
        border:2px solid grey;
        border-radius: 6px;
       }
       #matrix{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width:100%; 
      
       }
       #matrix > .mat{
        border:2px solid grey;
        border-radius: 5px;
       }
       #matrix > .mat > img{
        border-radius: 5px;
       }
       #the-three{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width:100%; 
        margin:40px;

       }
       #the-three > .one{
         border:2px solid grey;
         border-radius: 6px;
       }
       #wisper{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width:100%; 
        margin:40px;
       }
       #wisper > .wisp{
        border:2px solid grey;
        border-radius: 6px;
       }
       #para{
        border: 2px solid blue;
        justify-content: center;
        /* column-gap: 20px; */
       }
       #para > p{
        justify-content: space-around;
       }
       #bestseller{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width:100%; 
        margin:30px;
       }
      #bestseller > .eye{
        border:2px solid grey;
        border-radius: 6px;
      }
      .icon{
        margin: auto;
        width:80%;
        border-radius: 5px;
      }
      .icon > img{
      border-radius: 10px;
      }
      #soft{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width:100%; 
        margin:30px;
      }
      #soft > .softy{
        border:2px solid grey;
        border-radius: 6px;
      }
      #summer{
        display:flex;
        justify-content: center;
        column-gap: 20px;
        width:100%; 
        margin:30px;
      }
      #summer > .sum > img{
        border-radius: 8px;
        border: 2px solid grey;
      }
      #luxe{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        
      }
      #luxe > .aminu > img{
        border:2px solid grey;
      }
      #influ{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
      }
      #influ > .influencer{
        border-radius: 8px;
        border: 2px solid grey;
      }
      #lipstick{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
      }
      #lipstick > .lips{
        border-radius: 8px;
        border: 2px solid grey;
      }
      #explore{
        display: flex;
        margin: auto;
        justify-content: center;
      }
      #editor{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
      }
      #editor > .edit{
        border-radius: 8px;
        border: 2px solid grey;
      }
      #game{
        display: flex;
        margin: auto;
        justify-content: center; 
      }
      #game > img{
        border:2px solid grey;
        border-radius: 10px;
      }
      #gif{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
      }
      #gif > .gift{
        border-radius: 8px;
        border: 2px solid grey;
      }
      #flower{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
      }
      #flower > .offerings{
        border-radius: 8px;
        border: 2px solid grey;
      }
      #pop{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
      }
      #pop > .tech{
     border-radius:8px;
     border:2px solid grey;
      }
      #sport{
       display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:25px;
      }
      #sport > .wear{
     border-radius:8px;
     border:2px solid grey;
      }
    #beauty{
      display: flex;
      justify-content: center;
      column-gap: 20px;
      width:100%; 
      margin:15px;
    }
    #beauty > .tv{
     border-radius:8px;
     border:2px solid grey;
    }
footer > .fotter_sec1 {
    background-color: #3F414D;
    width: 100%;
    min-height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer > .fotter_sec1 > .details_boxes {
    display: flex;
    flex-direction: column;
    padding: 1px;
    width: 350px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer > .fotter_sec1 > .details_boxes > h5 {
    text-align: center;
    color: #fff;
}
footer > .fotter_sec1 > .details_boxes > h4 {
    color: #fff;
}
footer > .fotter_sec1 > .details_boxes > .bx1 > .icons {
    font-size: 25px;
    color: #fff;
}
footer > .fotter_sec1 > .details_boxes > .bx1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
footer > .fotter_sec1 > .details_boxes > .bx2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
footer > .fotter_sec1 > .details_boxes > .bx2 > input {
    border: none;
    background-color: #3F414D;
    border-bottom: 2px solid white;
    outline: none;
    padding: 5px;
    color: #fff;
}

footer > .fotter_sec1 > .details_boxes > .bx2 > button {
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    background-color: #3F414D;
    border: 1px solid #fff;
    color: #fff;
}

footer > .fotter_sec1 > .details_boxes > .bx2 > img {
    height: 30px;
    width: 120px;
}

footer > .fotter_sec1 > .details_boxes > .bx2 p {
    color: #fff;
}
footer > .links_sec {
    background-color: #8C8D94;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

footer > .links_sec > .links_boxes {
    width: 250px;
    padding: 10px;
}

footer > .links_sec > .links_boxes > ul {
    list-style: none;
}

footer > .links_sec > .links_boxes > ul > li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > .links_sec > .links_boxes > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
footer > .links_sec > .links_boxes > ul > li > a:first-child{
    font-size: 18px;
    font-weight: 600;
}
footer > .links_sec > .links_boxes > ul > li > a:hover{
    color: #FC2779;
}
footer > .delivery_sec {
    width: 100%;
    background-color: #fff;
    min-height: 100px;
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

footer > .delivery_sec > .delivery_boxes {
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > .delivery_sec > .delivery_boxes > .delivery_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .delivery_sec > .delivery_boxes > .delivery_txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > .delivery_sec > .delivery_boxes > .delivery_txt p {
    font-size: 14px;
}

footer > .delivery_sec > .delivery_boxes > .delivery_txt h4 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    font-size: 15px;
}

footer > .delivery_sec > .delivery_boxeslast > .delivery_lastchild {
    width: fit-content;
    display: flex;
    flex-direction: column;
}
footer > .delivery_sec > .delivery_boxeslast > .delivery_lastchild p{
    font-size: 15px;
}
footer > .delivery_sec > .delivery_boxeslast > .delivery_lastchild > .social_mediaicons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer > .fotter_lastsec{
    width: 100%;
    background-color: #FC2779;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
footer > .fotter_lastsec > ul{
    list-style: none;
}
footer > .fotter_lastsec > ul > li{
    display: flex;
    gap: 20px;
}
footer > .fotter_lastsec > ul > li > a{
    color: #fff;
    text-decoration: none;
}
footer > .fotter_lastsec > p{
    color: #fff;
}
.dropdown{
  padding: 10px 5px;
  font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dropdown > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
}

.dropdown a{
  color: #212121;
  text-decoration: none;
  font-weight: 400;
}

#last_dropdown{
  grid-column-start: 3/5;
  grid-column-end: 5/5;
}
.dropdown div{
  margin:auto;
}
.dropdown li {
  list-style: none;
  font-size: 14px;
  line-height: 25px;
}

.hidden-box{
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: none;
}
.hidden-box a{
  font-weight: 700;
  font-size: 11px;
}
.hidden-box a:hover{
  color: RGB(255, 111, 97);
}
.dropdown > ul > div > li:hover .hidden-box{
  display: flex;
  color: red;
  grid-template-columns: repeat(auto-fill,auto);
}
.hidden-box > ul{
  border-left: 1px solid grey;
  padding-left: 40px;
  padding-right: 40px;
}
.hidden-box>ul:first-child{
  padding-right: 20px;
  padding-left: 0px;
  border-left: none;
}
.light > a{
  color: #666666;
  font-size: 12px;
  font-weight: 400;
}
.hidden-box >div{
  border: 1px solid black;
}
.inside > li:last-child{
  padding-bottom: 10px;
}
.testingGap{
 left: 30px;
}
.testingGap2{
  right: 20px;
}